{% extends 'admin/base.html.twig' %}

{% block body %}
    {{ parent() }}
    <main class="container">
        <h1 class="nosVoiture">{{car.name}}</h1>
       
       <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                
                <h6 class="card-title">Year :{{car.year}}</h6>
                <h6 class="card-title">Brand : {{car.brand.name}}</h6>
                <h6 class="card-title">Group : {{car.groupe.name}}</h6>
                <p class="card-text">{{car.description}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
		
	
        
        
    </main>
    {% block javascripts %}{% endblock %}      

{% endblock %}