{% extends 'front/base.html.twig' %}

{% block body %}
    {{ parent() }}
    <main class="container">
        <h1 class="nosVoiture">{{car.name}}</h1>
       
       <div class="card" style="width: 18rem;">
       {% for image in car.image %}

		<img src="{{ asset('images/upload/' ~ image.src) }}" alt="{{ image.alt }}">

	{% endfor %}
            
            <div class="card-body">
                 
                <h6 class="card-title">Year :{{car.year}}</h6>
                <h6 class="card-title">Brand : {{car.brand.name}}</h6>
                <h6 class="card-title">Group : {{car.groupe.name}}</h6>
                <p class="card-text">{{car.description}}</p>
                
            </div>
        </div>
		
	
        
        
    </main>
    {% block javascripts %}{% endblock %}      

{% endblock %}